.diet-tab {
    text-decoration: none;
    color: #08FF83;
    border-bottom: 2px solid #08FF83;
    padding: 5px;
    width: 250px;
    margin: 10px;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.diet-catch {
    margin: 0 auto;
    text-align: center;
}

.routine-data,
.diet-submit {
    margin: 5px auto;
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #08FF83;
    color: #08FF83;
    background-color: #212121;
    font-size: 17px;
    -webkit-appearance: none;
}

.diet-submit {
    cursor: pointer;
    border: 2px solid #08FF83;
    color: #08FF83;
}

.diet-view {
    color: #fff;
    border-bottom: 2px solid #FF0000;
    padding: 5px;
    width: 150px;
    margin: 10px;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.diet-click {
    background-color: #2A2929;
    border: 2px solid #FEE233;
    text-align: center;
    width: 300px;
    margin: 10px 10px;
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
}

.diet-click>li {
    list-style: none;
    display: inline-block;
}

.diet-click>li>a {
    text-decoration: none;
    color: #08FF83;
}

.greeting {
    color: #FFDB07;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 300;
}

.diet-results:empty:before {
    content: "So empty!";
    font-size: 25px;
    color: #fff;
}

.diet-creation {
    color: #fff;
    font-size: 22px;
    margin: 20px 0;
}

.diet-results {
    margin: 30px;
    text-align: center;
}

.diet-title {
    margin-top: 30px;
}

.diet-category {
    color: #fff;
    font-size: 25px;
    margin: 10px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .diet-view {
        font-size: 30px;
        font-weight: 400;
    }

    .diet-click {
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;
    background-color: #2A2929;
    border: 2px solid #FEE233;
    width: 200px;
    border-radius: 3px;
    vertical-align: top;
    }

    .diet-creation {
        font-size: 20px;
    }

    .diet-category {
        font-size: 20px;
    }
}

@media only screen and (max-width: 670px) {

    .diet-tab {
        font-size: 30px;
    }

    .diet-catch {
        margin: 0 auto;
        text-align: center;
    }

    .routine-data,
    .diet-submit {
        margin: 5px auto;
        width: 250px;
        padding: 10px;
        border-radius: 3px;
        border: 2px solid #08FF83;
        color: #08FF83;
        background-color: #212121;
        font-size: 15px;
        -webkit-appearance: none;
    }

    .diet-submit {
        cursor: pointer;
        border: 2px solid #08FF83;
        color: #08FF83;

    }

    .diet-title {
        margin-top: 30px;
    }
}